<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="jp.co.dit.android.apps.HiCore"
		android:versionCode="1"
		android:versionName="1.0" >

		<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" android:maxSdkVersion="22"/>

		<uses-permission android:name="android.permission.INTERNET" >
		</uses-permission>

		<application
				android:icon="@drawable/icon"
				android:label="@string/app_name" >
				<activity
						android:configChanges="orientation"
						android:label="@string/app_name"
						android:name=".HiCoreActivity" />
				<activity
						android:label="設定画面"
						android:name=".MenuPreferenceActivity" />
				<activity
						android:configChanges="orientation"
						android:label="@string/TSE190_Title"
						android:name=".TSE190_Activity" />
				<activity
						android:configChanges="orientation"
						android:label="@string/THQ130_Title"
						android:name=".THQ130_Activity" />
				<activity
						android:configChanges="orientation"
						android:label="@string/THQ130_Title"
						android:name=".THQ130_SubActivity" />
				<activity
						android:configChanges="orientation"
						android:label="@string/THQ110_Title"
						android:name=".THQ110_Activity" />
				<activity
						android:configChanges="orientation"
						android:label="@string/TAE120_Title"
						android:name=".TAE120_Activity" />
				<activity
						android:configChanges="orientation"
						android:name=".TWE110_InputDayActivity" />
				<activity
						android:configChanges="orientation"
						android:name=".LoginActivity" >
						<intent-filter >
								<action android:name="android.intent.action.MAIN" />

								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
		</application>

</manifest>